<% provide(:title, data.page_name.capitalize) %>
<div class="content_header">
	<h2><%= data.title %></h2>
</div>
<div class="content_body">
	<%= data.rendered_text.html_safe %>
	<% if logged_in? %>
		<p><%= link_to "Edit this page", edit_url(page: data.page_name) %></p>
	<% end %>
</div>
<div class="album_body">
	<% if !data.albums.empty? %>
		<% data.albums.each do |a| %>
			<div class="album_listing">
				<p><%= link_to a.title, album_path(a) %></p>
			</div>
		<% end %>
	<% end %>
	<%= data.page_name %>
</div>