<% provide(:title, data.page_name.capitalize) %>
<div class="content_header">
	<h2 class="content_title"><%= data.title %></h2>
</div>
<div class="content_body">
	<% if data.rendered_text.empty? and logged_in? %>
		<p>This page has no content.</p>
	<% else %>
		<%= data.rendered_text.html_safe %>
	<% end %>
</div>
<% if data.album_enabled? %>
	<div class="album_body">
		<% if !data.albums.empty? %>
			<h3>Albums:</h3>
			<% data.albums.each do |a| %>
				<div class="album_listing">
					<p><%= link_to image_tag(a.images.first.url, {width:225,height:225}), album_path(a) %><br />
					<%= link_to a.title, album_path(a) %><% if logged_in? %> - <%= link_to "Edit", edit_album_path(a) %> <% end %></p>
				</div>
			<% end %>
		<% elsif logged_in? %>
			<p>This page has no albums. <%= link_to "Add a photo album", create_album_path %></p>
		<% end %>
	</div>
<% end %>
<% if logged_in? %>
	<div id="logged_in_toolbar">
		<p><%= link_to "Edit this page", edit_url(page: data.page_name) %><span class="flash"><% flash.each do |n, m| %><%= content_tag :span, m, class:n %><% end %></span></p>
	</div>
<% end %>
	