<div id="header">
	<div id="image">
		<a href="/" id="logo_link">
			<%= image_tag("metalithic_transparent.png", {id:"logo_image"}) %>
		</a>
	</div>
	<div id="navbar">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
			<li><%= link_to "Residential", "#" %></li>
			<li><%= link_to "Commercial", "#" %></li>
			<li><%= link_to "Restaurants", '#' %></li>
			<li><%= link_to "Contractors", '#' %></li>
		</ul>
	</div>
</div>